body {background-color: #A5F1E9}

        hr {
        border-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 5px;
        width: 10%
        }
        h1 {color: #FFF6BF}
        h3 {color: #FFEBAD}